process {
    publishDir = {"./results_mrds/$sid/$task.process"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

singularity {
    enabled = true
}

params {
    help = false
    root = false

    //**Number of processes per tasks**//
    mrds_processes = 4

    //**Process control**//
    processes = false

    use_isotropic = true
    r_threshold = 0.2
}

if(params.processes) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException("Number of processes higher than available CPUs.")
    }
    else if(params.processes < 1) {
        throw new RuntimeException("When set, number of processes must be >= 1 " +
                                   "and smaller or equal to the number of CPUs.")
    }
    else {
        executor.$local.cpus = params.processes
    }
}
else{
    params.processes = Runtime.runtime.availableProcessors() - 2
    executor.$local.cpus = params.processes
}

singularity.autoMounts = true

profiles {
    fully_reproducible {
        params.mrds_processes=1
    }

    macos {
            process.scratch="/tmp"
    }

    cbrain {
      process{
        publishDir = [path: {"./results_mrds/$sid/$task.process"}, mode: 'copy']
      }
    }
}